@import "../../styles.scss";

:host {
    height: 100px;
    background-color: $background1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
