@import "../../styles.scss";

:host {
    height: 80px;
    background-color: $background1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: auto;
}
